[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
jsmin = "*"
cssmin = "*"
stripe = "*"
email-validator = "*"
gunicorn = "*"
psycopg2 = "*"
python-dotenv = "*"
flask = "*"
flask-assets = "*"
pyscss = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
